<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Home</h1>
    <div class="container">
        <% for(let post of posts) {%>
        <div class="post">
            <p><%=post.id%></p>
            <h2> @<%= post.username %></h2>
            <p><%= post.quote %></p>
           
            <a href="http://localhost:8080/posts/<%= post.id%>"><button>View</button></a>
            <a href="http://localhost:8080/posts/<%= post.id%>/edit"><button>Edit</button></a> 
           
            <form action="/posts/<%= post.id %>?_method=DELETE " method="post">
                 <a href="http://localhost:8080/posts"><input type="submit" value="Delete"></a>
            </form>

        </div>
        <%  }%>
    </div>
<br>
   <a href="http://localhost:8080/posts/new"><button>Create new post</button></a>
</body>
</html>